<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813958813765-8o3anj8qmt5iqqkcun2332292p6v3cuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813958813765-8o3anj8qmt5iqqkcun2332292p6v3cuf</string>
	<key>API_KEY</key>
	<string>AIzaSyDNI14-cSfIzdxiD3-tdAMWXRBwwPIKf5s</string>
	<key>GCM_SENDER_ID</key>
	<string>813958813765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.telegin.stoppark</string>
	<key>PROJECT_ID</key>
	<string>stopparkrus</string>
	<key>STORAGE_BUCKET</key>
	<string>stopparkrus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813958813765:ios:97fd4b290c59fffd9e2b2c</string>
	<key>DATABASE_URL</key>
	<string>https://stopparkrus.firebaseio.com</string>
</dict>
</plist>